@media (max-width: 880px) {
    .welcome__container {
        justify-content: center;
    }

    .welcome__desc {
        width: 100%;
    }

    .about__images {
        flex-wrap: wrap;
    }

    .shedule__container {
        padding-right: 0px;
    }

    .event {
        flex: 1 0 263px;
    }


    .form {
        margin-top: 0;

    }

    .form-section__container {
        width: 90%;
    }

    .form__header {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-bottom: 36px;
    }

    .form-section__title {
        padding-top: 0px;
        margin-top: -35px;
    }

    .form__content {
        flex-direction: column;
    }

    .form__input {
        flex: 1;
        font-size: 14px;
    }

    .form__btn {
        flex: 1;
        font-size: 19px;
    }

    .footer__content {
        flex-direction: column;
        text-align: center;
    }

    .footer__content-center {
        width: 100%;
    }

    .contact {
        text-align: center;
    }
}

@media(max-width: 768px) {
    .header__container {
        flex-direction: row-reverse;
    }

    .burger {
        display: flex;
        z-index: 200;
    }

    .burger+.nav .nav__list {
        height: 0;
        width: 0;
        overflow: hidden;
        transition: width 0.2s ease-in-out;
    }

    /* Анимация бургера в крестик */
    .burger.active .burger__line:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
        transform-origin: center center;
    }

    .burger.active .burger__line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .burger__line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
        transform-origin: center center;
    }

    .nav.active {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        background-color: #030619;
        z-index: 150;
        overflow: hidden;
        height: 100vh;
        padding-bottom: 30px;
    }

    .nav.active .nav__list {
        display: flex;
        padding-top: 109px;
        flex-direction: column;
        text-align: center;
        height: auto;
        width: 100%;
    }

    .game-link {
        width: 201px;
        height: 240px;
    }

    .form-section__container {
        padding: 28px 15px 48px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 16px;
    }

    .content-text {
        font-size: 1rem;
    }

    /* ----------------- HEADER ------------------ */
    .header {
        padding: 17px 0px 21px;
    }

    .logo {
        width: 83px;
    }

    .welcome {
        padding-top: 103px;
    }

    .welcome__desc {
        padding: 0;
    }

    .title {
        font-size: 56px;
    }

    .welcome__img {
        display: inline-block;
        margin: 0 auto;
    }

    .section-title {
        font-size: 30px;
        margin-bottom: 23px;
    }

    .about__desc {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .about__img {
        width: 95%;
    }

    .games-carousel__inner {
        margin-left: -110px;
    }

    .event {
        cursor: grab;
        flex: 0 0 210px;
        min-height: 198px;
        padding: 0px 17px 19px;
    }

    .event::before {
        width: 39px;
        height: 39px;
        font-size: 27px;
    }

    .event__date {
        font-size: 27px;
        margin-bottom: 4px;
    }

    .event__name {
        font-size: 18px;
    }

    .questions {
        font-size: 16px;
    }

    .footer .nav__list {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 22px;
    }
}